*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#a4e9d5 ;
}

#bigBox{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: grey;
    border: 10px solid darkred;
    min-height: 50vh;
    min-width: 45vw;
    height: 50vh;
    width: 50vw;
    overflow: hidden;

    border-radius: 5%;
}
#containingBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: 10px 8px 5px rgba(0,0,0,0.6);

    height: 75vh;
    width: 65%;
    background-color:red;
    flex-direction: column;
    border-radius: 5%;
}
#circleHolder{
    box-sizing: border-box;
    background-color: red;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 90%;

}
#circle{
    min-height: 100px;
    background-color: white;
    min-width: 100px;
    border-radius: 100%;
    align-self: flex-end;
    border: none;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
}

div{
    background-color: rgb(105, 110, 115);

    min-height: 1vh;
    min-width: 1vw;
    height: 1vh;
    width: 1vw;
}
button{
    border: none;
    height: 7vh;
    width: 12vw;
    border-radius: 15%;
    background-color: red;
    color: yellow;
    transition: all .2s ease-in-out;
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 100px;
}

button:hover{
    text-emphasis-color: rgb(41, 40, 40);
    transform: scale(1.2);
}
